{
  "env": {
    "es6": true,
    "jest": true,
    "node": true,
    "commonjs": true
  },
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "google"
  ],
  "rules": {
    "indent": [
      2,
      4,
      {
        "SwitchCase": 1
      }
    ],
    "max-len": [
      1,
      120
    ],
    "operator-linebreak": [
      1,
      "before"
    ],
    "multiline-ternary": [
      1,
      "always"
    ]
  }
}